::ng-deep .pointer-cursor {
  cursor: pointer !important;
  z-index: 500;
}

.cursorPointer {
  cursor: pointer;
}

@media screen and (max-width: 756px) {
  .appTitle {
    display: none !important;
  }
}
