<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img
        src="../../../assets/favicon-32x32.png"
        width="30"
        height="30"
        class="d-inline-block align-top"
        alt="logo"
      />
    </a>
    <form class="form-inline">
      <a
        routerLink="/login"
        class="me-4 link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover"
        >Login</a
      >
      <a
        routerLink="/register"
        class="link-primary link-offset-2 link-underline-opacity-0 link-underline-opacity-25-hover"
        >Register</a
      >
    </form>
  </div>
</nav>
