.helperText {
  color: red;
}

::placeholder {
  color: rgb(185, 185, 185);
}

@media screen and (max-width: 756px) {
  .pageImage {
    display: none !important;
  }
  .formContainer {
    width: 100% !important;
    padding-right: 0 !important;
  }
  .width50 {
    width: 50% !important;
  }
}
