<form>
    <div class="form-group">
        <label for="usersname">Full Name</label>
        <input type="text" class="form-control" id="usersname" aria-describedby="nameHelp" placeholder="Enter Name">
      </div>
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confirm Password">
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>